@import "./reset.scss";
@import "./variables.scss";
@import "./mixins.scss";
html {
   scroll-behavior: smooth;
}

body {
   font-family: $am-font-family, sans-serif;
}

#__next {
   overflow-x: hidden;
   overflow-y: hidden;
}

.product {
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;

   &__content {
      display: flex;
      flex-direction: column;

      &__header {
         height: 110px;
         width: 950px;
         min-width: 100%;
         max-width: 100%;
         display: flex;

         &__text {
            width: 75%;
            & h3 {
               font-weight: get-font-weight(header, base);
               line-height: 110%;
               font-size: 44px;
            }
         }
         &__info {
            width: 18%;
            display: flex;
            justify-content: flex-end;

            &__icon {
               width: 50px;
               height: 50px;
               display: flex;
               justify-content: center;
               align-items: center;
               border-radius: 5px;
               background-color: get-color(backcolor, secondary);
               margin-top: 5px;
            }
            &__text {
               font-size: 14px;
               margin-left: 12px;
               font-weight: get-font-weight(avgarde, base);

               & div {
                  margin-bottom: 5px;
                  margin-top: -3px;
                  line-height: 24px;
               }

               & a {
                  line-height: 16px;
                  color: get-color(bluecolor, base);
               }
            }
         }
      }
      &__wrapper {
         width: 880px;
         height: 526px;
         border: 1px solid black;
         display: flex;
      }
   }
}

.pictures {
   height: 100%;
   width: 45%;
   position: relative;

   &__arrows {
      position: absolute;
      display: flex;
      top: 37%;
      width: 100%;
      padding: 0 5%;
      justify-content: space-between;
      left: 0;
      z-index: 1;

      &__item {
         width: 50px;
         height: 50px;
         border-radius: 8px;
         background-color: get-color(backcolor, base);
         display: flex;
         justify-content: center;
         &:hover {
            opacity: 0.9;
            cursor: pointer;
         }

         img {
            transform: scale(0.3);
         }

         img[alt="rightarrow"] {
            transform: scale(0.3) rotate(180deg);
         }
      }
   }

   &__main {
      height: 86%;
      width: 100%;
      object-fit: fill;
      position: relative;
   }

   &__list {
      height: 14%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      display: flex;
      align-items: center;
      justify-content: space-between;

      & li img {
         border-radius: 8px;
      }
   }
}

.content {
   width: 50%;
}
