$am-font-family: "Montserrat";

$am-containers: (
   desktop: 1264px,
);

$am-breakpoints: (
   desktop: 1300px,
);

$am-colors: (
   paragraph: (
      base: #1d1f22,
   ),
   backcolor: (
      base: #e7e1e0,
      secondary: #e7e1e0,
   ),
   bluecolor: (
      base: #53c5e2,
   ),
);

$am-font-weights: (
   header: (
      base: 600,
   ),
   avgarde: (
      base: 500,
   ),
);
