$am-font-family: "Montserrat";

$am-breakpoints: (
   desktop: 1300px,
   tablet: 768px,
   mobile: 426px,
);

$am-colors: (
   paragraph: (
      base: #1d1f22,
   ),
   backcolor: (
      base: #e7e1e0,
   ),
   bluecolor: (
      base: #53c5e2,
   ),
   yellowcolor: (
      base: #ffcc17,
   ),
);

$am-font-weights: (
   header: (
      base: 600,
   ),
   evrage: (
      base: 500,
   ),
   sick: (
      base: 500,
   ),
);
